{% extends "shopping/layout.html" %}

{% block body %}
    <h1>Einkaufsliste</h1>
    <ul>
        {% for item in items %}
        <form action="{% url 'shopping:delete' %}" method="post">
            {% csrf_token %}
            <input type="text" name="item" value="{{ item }}" readonly>
            <input type="submit" value="-">
        </form>
        {% endfor %}
    </ul>
    <ul>
        <form action="{% url 'shopping:add' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="neuer Eintrag" name="newentry">
            <input type="submit" value="+">
        </form>
    </ul>
{% endblock %}
