<!DOCTYPE html>
<html lang="de">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <style>
            body {
                font-family: Verdana, sans-serif;
            }
            input[type=text], input[type=submit] {
                font-size: 20px;
                padding: 5px 5px;
                margin: 2px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            h1 {
                margin: 10px;
                width: 100%;
                text-align: center;
            }
        </style>
        <title>Einkaufsliste</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>